* {
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	background: #b3e6ff;
}

.tower {
	height: 250px;
	width: 300px;
	display: inline-block;
	position: relative;
	margin: 20px;
	border-bottom: 20px solid #331a00;
}

.press {
	position: absolute;
	bottom: 0;
	width: 300px;
}

.rings {
	height: 50px;
	width: 200px;
	background: green;
	margin: 0 auto;
}

#ring1 {
	width: 50px;
	background: red;

}
#ring2 {
	width: 100px;
	background: orange;
}

#ring3 {
	width: 150px;
	background: yellow;
}

#ring4 {
	width: 200px;
	background: green;
}

.selected {
	border: 3px solid blue;
}

#winner {
	color: green;
	text-align: center;
	font-size: 80px;
}

#moves {
	color: #331a00;
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
	padding-bottom:1000px;
}

#title {
	padding-top: 100px;
	padding-bottom: 100px;
	color: #331a00;
	font-size: 60px;
	text-align: center;
}

span {
	color: red;
}